@model ShopPhone.Views.ResetPasswordViewModel

<form asp-action="ResetPassword" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label>Mật khẩu mới:</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-warning mt-2">Đặt lại mật khẩu</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
